<div class="col-12 col-md-6 col-lg-4 px-2">
  <div class="card border-secondary card-product-cart customBody">
    <%= link_to @product.product do %>
      <%= image_tag @product.product.avatar, class: "card-img-top", alt: @product.product.title %>
      <div class="card-body">
        <h5 class="card-title"> <%= @product.product.title %></h5>
    <% end %>
    <p class="card-text">
      <% if @product.product.description.size > 50 %>
        <%= @product.product.description.first(50)... %>
      <% else %>
        <%= @product.product.description %>
      <% end %>
    </p>
    </div>
    <div class="card-bottom">
      count: <%= @product.count %> <br>
      total price:
      <%= @product.product.price * @product.count %>
    </div>
  </div>
</div>